<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995450626679-u7bhgmca8fr6s4n8jsv9d8dvuisfhpgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995450626679-u7bhgmca8fr6s4n8jsv9d8dvuisfhpgj</string>
	<key>API_KEY</key>
	<string>AIzaSyCbVriTcKtvWt0DpvcR-44L51Z13vNFWvc</string>
	<key>GCM_SENDER_ID</key>
	<string>995450626679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nozawaeijirou.Swift6SNS1</string>
	<key>PROJECT_ID</key>
	<string>swift6sns1-83660</string>
	<key>STORAGE_BUCKET</key>
	<string>swift6sns1-83660.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995450626679:ios:c876e751e626dd2fdf9c72</string>
</dict>
</plist>